<!-- menu.html.twig -->
<li>
    <a href="{{ get_url('index.php') }}">
        <i class="fa fa-home"></i>
        <span>{% trans %}Inicio{% endtrans %}</span>
    </a>
</li>
{% if user.getTipo == "admin" %}
    <li class="treeview">
        <a href="{{ get_url('index.php?m=Configuracion') }}">
            <i class="fa fa-files-o"></i>
            <span>{% trans %}Configuración{% endtrans %}</span>
            <ul class="treeview-menu">
                <li>
                    <a href="{{ get_url('index.php?m=Configuracion') }}">
                        <i class="fa fa-files-o"></i>
                        <span>{% trans %}General{% endtrans %}</span>
                    </a>
                </li>
            </ul>
        </a>
    </li>
    <li class="treeview">

            <a href="{{ get_url('index.php?m=User') }}">
                <i class="fa fa-files-o"></i>
                    <span>{% trans %}Usuarios{% endtrans %}</span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{{ get_url('index.php?m=User') }}"><i class="fa fa-circle-o"></i> {% trans %}Listado{% endtrans %}</a></li>
                <li><a href="{{ get_url('index.php?m=User&a=Add') }}"><i class="fa fa-circle-o"></i> {% trans %}Agregar nuevo{% endtrans %}</a></li>
            </ul>

    </li>
{% endif %}
<li class="treeview">
    {% set url_estudiante = 'index.php?m=ManagerMail&c=Estudiante' %}
    <a href="{{ get_url(url_estudiante) }}">
        <i class="fa fa-files-o"></i>
        <span>{% trans %}Estudiantes{% endtrans %}</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ get_url(url_estudiante) }}"><i class="fa fa-circle-o"></i> {% trans %}Listado{% endtrans %}</a></li>
        {% if user.getTipo == "admin" %}
            <li><a href="{{ get_url(url_estudiante ~ '&a=Add') }}"><i class="fa fa-circle-o"></i> {% trans %}Agregar nuevo{% endtrans %}</a></li>
            <li><a href="{{ get_url(url_estudiante ~ '&a=import') }}"><i class="fa fa-circle-o"></i> {% trans %}Importar{% endtrans %}</a></li>
        {% endif %}
    </ul>
</li>
<li class="treeview">
    {% set url_supervisor = 'index.php?m=ManagerMail&c=Supervisor' %}
    <a href="{{ get_url(url_supervisor) }}">
        <i class="fa fa-files-o"></i>
        <span>{% trans %}Supervisores{% endtrans %}</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ get_url(url_supervisor) }}"><i class="fa fa-circle-o"></i> {% trans %}Listado{% endtrans %}</a></li>
        {% if user.getTipo == "admin" %}
            <li><a href="{{ get_url(url_supervisor ~ '&a=Add') }}"><i class="fa fa-circle-o"></i> {% trans %}Agregar nuevo{% endtrans %}</a></li>
            <li><a href="{{ get_url(url_supervisor ~ '&a=import') }}"><i class="fa fa-circle-o"></i> {% trans %}Importar{% endtrans %}</a></li>
        {% endif %}
    </ul>
</li>
<li class="treeview">
    {% set url_boletin = 'index.php?m=ManagerMail&c=Boletin' %}
    <a href="{{ get_url(url_boletin) }}">
        <i class="fa fa-files-o"></i>
        <span>{% trans %}Boletin{% endtrans %}</span>
    </a>
    <ul class="treeview-menu">
        <li><a href="{{ get_url(url_boletin) }}"><i class="fa fa-circle-o"></i> {% trans %}Listado{% endtrans %}</a></li>
        {% if user.getTipo == "admin" %}
            <li><a href="{{ get_url(url_boletin ~ '&a=Add') }}"><i class="fa fa-circle-o"></i> {% trans %}Agregar nuevo{% endtrans %}</a></li>
        {% endif %}
    </ul>
</li>