{%  set config = get_config() %}
{% if pagination.getRecords|length > 0 %}
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>{% trans %}Porcentaje{% endtrans %}</th>
                    <th class="text-center">{% trans %}Estado{% endtrans %}</th>
                    <th class="text-center">{% trans %}Acciones{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for record in pagination.getRecords %}
                    <tr>
                        <td width="60%">{{ record.porcentaje|interes }}</td>
                        <td width="10%">{{ config.estado_user[record.estado] }}</td>

                        <td align="center">
                            <div class="btn-group" role="group">
                                {% if tipo == "normal" %}
                                    <button type="button" class="btn btn-default" onclick="porcentaje.launchEdit({{ record.id }})"><i class="fa fa-edit"></i> {% trans %}Editar{% endtrans %}</button>
                                    <button type="button" class="btn btn-default" onclick="porcentaje.eliminar({{ record.id }})"><i class="fa fa-remove"></i> {% trans %}Eliminar{% endtrans %}</button>
                                {% else %}
                                    <button type="button" class="btn btn-default selected-option" data-object="{{ record|json_encode() }}">{% trans %}Seleccionar{% endtrans %}</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr></tr>
                </tbody>
            </table>
        </div>
        {% if pagination.getRecords|length > 0 and pagination.getPaginas > 1 %}
        <div class="box-footer">
            {% include 'pagination.html.twig' with {'id': 'paginationPorcentajes'} %}
        </div>
        {% endif %}
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        {% trans %}<strong>Advertencia!</strong> No hay registros disponibles.{% endtrans %}
    </div>
{% endif %}