{% extends "base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="lib/AdminLTE-2.3.0/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="lib/AdminLTE-2.3.0/plugins/datepicker/datepicker3.css" />
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/datepicker/locales/bootstrap-datepicker.es.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/date-handle/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="js/pago.js"></script>
    <script type="text/javascript" src="js/cliente.js"></script>
    <script type="text/javascript" src="js/user.js"></script>
    <script type="text/javascript" src="js/prestamo.js"></script>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        //Initialize Select2 Elements
        $(".select2").select2();
        $('.datepicker').datepicker({
            "format": "yyyy/mm/dd",
            "language": "es"
        });
        pago.init();
    </script>
{% endblock %}

{% block content %}
    {%  set config = get_config() %}
    {% set urls = config.urls|json_decode %}
    <div class="box">
        <div class="box-body">
            <div id="containerLoading"></div>
            <form class="form-horizontal" id="formPago">
                <input type="hidden" id="inputId" name="inputId" {% if record %} value="{{ record.getId }}" {% endif %}>
                <div class="form-group">
                    <label for="inputCliente" class="col-sm-2 control-label">{% trans %}Cliente{% endtrans %}</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="hidden" id="inputCliente" name="inputCliente"  {% if record %} value="{{ record.cliente.id }}" {% endif %} />
                            <input type="text" class="form-control" id="inputClienteNombres" name="inputClienteNombres" placeholder="{% trans %}Cliente{% endtrans %}" {% if record %} value="{{ record.cliente.nombres ~ ", " ~ record.cliente.apellidos }}" {% endif %} readonly />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="buttonSearchCliente" {% if record %}disabled{% endif %}><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPrestamo" class="col-sm-2 control-label">{% trans %}Prestamo{% endtrans %}</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputPrestamo" name="inputPrestamo" placeholder="{% trans %}Prestamo{% endtrans %}" {% if record %} value="{{ record.prestamo.id }}" {% endif %} readonly />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="buttonSearchPrestamo" {% if record %}disabled{% endif %}><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="containerCuotasPagos" {% if record is null %}style="display: none;"{% endif %}>
                    <div class="col-sm-10 col-sm-offset-2 body">
                        {% if record %}
                            <div style="max-height: 200px; overflow: auto;">
                                <table class="table table-responsive">
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Documento</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                    </tr>
                                    {% for item in record.items %}
                                        <tr>
                                            <td>{{ config.origen_pago[item.origen] }}</td>
                                            <td>{{ item.documento }}</td>
                                            <td>{{ item.document_origin.fecha|date(config.formato_fecha_corta) }}</td>
                                            <td>{{ item.monto|currency }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMonto" class="col-sm-2 control-label">{% trans %}Monto{% endtrans %}</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            {% if config.simbolo_posicion == "i" %}
                                <span class="input-group-addon">{{ config.simbolo_moneda }}</span>
                            {% endif %}
                            <input type="text" class="form-control" id="inputMonto" name="inputMonto" placeholder="{% trans %}Monto{% endtrans %}" {% if record %} value="{{ record.getMonto }}" {% endif %} readonly />
                            {% if config.simbolo_posicion == "d" %}
                                <span class="input-group-addon">{{ config.simbolo_moneda }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFecha" class="col-sm-2 control-label">{% trans %}Fecha{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datepicker" id="inputFecha" name="inputFecha" placeholder="{% trans %}Fecha{% endtrans %}" {% if record %} value="{{ record.getFecha }}" {% endif %} readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCobradorNombres" class="col-sm-2 control-label">{% trans %}Cobrador{% endtrans %}</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="hidden" id="inputCobrador" name="inputCobrador"  {% if record %} value="{{ record.cobrador.id }}" {% endif %} />
                            <input type="text" class="form-control" id="inputCobradorNombres" name="inputCobradorNombres" placeholder="{% trans %}Cobrador{% endtrans %}" {% if record %} value="{{ record.cobrador.nombre }}" {% endif %} readonly />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="buttonSearchCobrador"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputObservaciones" class="col-sm-2 control-label">{% trans %}Observaciones{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputObservaciones" name="inputObservaciones" placeholder="{% trans %}Observaciones{% endtrans %}" {% if record %} value="{{ record.getObservaciones }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMetodo" class="col-sm-2 control-label">{% trans %}Forma de Pago{% endtrans %}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputMetodo" name="inputMetodo" style="width: 100%">
                            {% for metodo in config.metodos %}
                                <option value="{{ metodo.id }}" {% if record and record.getMetodo == metodo.id %} selected {% endif %}>{{ metodo.metodo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEstado" class="col-sm-2 control-label">{% trans %}Estado{% endtrans %}</label>
                    <div class="col-sm-10">
                        {% set no_change = false %}
                        {% if record and record.getEstado != 0 and record.getEstado != 3 %}
                            {% set no_change = true %}
                        {% endif %}
                        <select class="form-control select2" id="inputEstado" name="inputEstado" style="width: 100%" {% if no_change %}disabled{% endif %}>
                            {% if no_change %}
                                {% for key, estado in config.estado_pago %}
                                    <option value="{{ key }}" {% if record and record.getEstado == key %} selected {% endif %}>{{ estado }}</option>
                                {% endfor %}
                            {% else %}
                                {% for key, estado in config.estado_pago_form %}
                                    <option value="{{ key }}" {% if record and record.getEstado == key %} selected {% endif %}>{{ estado }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-danger" id="buttonPagoCancel">{% trans %}Cancelar{% endtrans %}</button>
                        <button type="button" class="btn btn-primary" id="buttonPago">{% trans %}Guardar{% endtrans %}</button>
                        {% if record %}<a href="{{ get_url(urls.pago) ~ "&a=export&id=" ~ record.getId }}" class="btn btn-default" target="_blank"><i class="fa fa-file-pdf-o"></i> Exportar pdf</a>{% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}