<style>
    table {
        color: #003300;
        font-family: helvetica;
        font-size: 8pt;
    }
    th {
        background-color: #cecece;
    }
    td.field {
        background-color: #ffffee;
    }
    td.value {
        background-color: #F8F8F8;
    }
</style>
{% include 'header.pdf.twig' %}
{%  set config = get_config() %}
{% if pagination.getRecords|length > 0 %}
    <table cellpadding="4" cellspacing="2">
        <tr>
            <th class="value" width="30%">{% trans %}Cliente{% endtrans %}</th>
            <th class="value" width="30%">{% trans %}Cobrador{% endtrans %}</th>
            <th class="value" width="10%">{% trans %}Monto{% endtrans %}</th>
            <th class="value" width="10%">{% trans %}Prestamo{% endtrans %}</th>
            <th class="value" width="10%">{% trans %}Fecha{% endtrans %}</th>
            <th class="value" width="10%">{% trans %}Estado{% endtrans %}</th>
        </tr>
        {% for record in pagination.getRecords %}
            <tr>
                <td class="value" width="30%">{{ record.nombres ~ ", " ~ record.apellidos }}</td>
                <td class="value" width="30%">{{ record.nombre }}</td>
                <td class="value" width="10%">{{ record.monto|currency }}</td>
                <td class="value" width="10%">{{ record.prestamo }}</td>
                <td class="value" width="10%">{{ record.fecha|date(config.formato_fecha_corta) }}</td>
                <td class="value" width="10%">{{ config.estado_pago[record.estado] }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div>
        {% trans %}<strong>Advertencia!</strong> No hay registros disponibles.{% endtrans %}
    </div>
{% endif %}