{%  set config = get_config() %}
{% set urls = config.urls|json_decode %}
{% if pagination.getRecords|length > 0 %}
    <div class="box">
        <div class="box-body">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>{% trans %}Cliente{% endtrans %}</th>
                    <th>{% trans %}Cobrador{% endtrans %}</th>
                    <th>{% trans %}Monto{% endtrans %}</th>
                    <th>{% trans %}Prestamo{% endtrans %}</th>
                    <th>{% trans %}Fecha{% endtrans %}</th>
                    <th class="text-center">{% trans %}Estado{% endtrans %}</th>
                    <th class="text-center">{% trans %}Acciones{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for record in pagination.getRecords %}
                    <tr>
                        <td width="15%"><a href="{{ get_url('index.php?m=Loans&c=Cliente&a=edit&id=' ~ record.cliente ) }}">{{ record.nombres ~ ", " ~ record.apellidos }}</a></td>
                        <td width="15%"><a href="{{ get_url('index.php?m=User&a=edit&id=' ~ record.cobrador ) }}">{{ record.nombre }}</a></td>
                        <td width="10%">{{ record.monto|currency }}</td>
                        <td width="10%"><a href="{{ get_url('index.php?m=Loans&c=Prestamo&a=edit&id=' ~ record.prestamo ) }}">{{ record.prestamo }}</a></td>
                        <td width="10%">{{ record.fecha|date(config.formato_fecha_corta) }}</td>
                        <td width="10%">{{ config.estado_pago[record.estado] }}</td>
                        <td align="center">
                            <div class="btn-group" role="group">
                                {% if record.estado == 1 %}
                                    <button type="button" class="btn btn-default" onclick="pago.reversar({{ record.id }})" title="{% trans %}Reversar{% endtrans %}"><i class="fa fa-undo"></i></button>
                                {% elseif record.estado == 0 or record.estado == 3 %}
                                    <button type="button" class="btn btn-default" onclick="pago.aprobar({{ record.id }})" title="{% trans %}Aprobar{% endtrans %}"><i class="fa fa-check"></i></button>
                                    <button type="button" class="btn btn-default" onclick="pago.rechazar({{ record.id }})" title="{% trans %}Rechazar{% endtrans %}"><i class="fa fa-stop"></i></button>
                                {% endif %}
                                <button type="button" class="btn btn-default" onclick="pago.launchEdit({{ record.id }})" title="{% trans %}Editar{% endtrans %}"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn btn-default" onclick="pago.eliminar({{ record.id }})" title="{% trans %}Eliminar{% endtrans %}"><i class="fa fa-remove"></i></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                <tr></tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <a href="{{ get_url(urls.pago) ~ "&a=exports&" ~ query_string }}"  class="btn btn-default" target="_blank"><i class="fa fa-file-pdf-o"></i> Exportar pdf</a>
        </div>
        {% if pagination.getRecords|length > 0 and pagination.getPaginas > 1 %}
        <div class="box-footer">
            {% include 'pagination.html.twig' with {'id': 'paginationPago'} %}
        </div>
        {% endif %}
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        {% trans %}<strong>Advertencia!</strong> No hay registros disponibles.{% endtrans %}
    </div>
{% endif %}