{% extends "base.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="lib/AdminLTE-2.3.0/plugins/select2/select2.min.css" />
    <link rel="stylesheet" href="lib/AdminLTE-2.3.0/plugins/datepicker/datepicker3.css" />
    <script type="text/javascript" src="lib/AdminLTE-2.3.0/plugins/select2/select2.min.js"></script>
    <script src="lib/AdminLTE-2.3.0/plugins/ckeditor/ckeditor.js"></script>
    <script src="lib/AdminLTE-2.3.0/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="lib/AdminLTE-2.3.0/plugins/datepicker/locales/bootstrap-datepicker.es.js"></script>
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/boletin.js"></script>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        //Initialize Select2 Elements
        $(".select2").select2();
        $(".datepicker").datepicker({
            "format": "dd/mm/yyyy",
            "language": "es"
        });
        CKEDITOR.replace('inputContenido');
        boletin.init();
    </script>
{% endblock %}

{% block content %}
    {% set config = get_config() %}
    {% set user = session_user() %}
    <div class="box">
        <div class="box-body">
            <div id="containerLoading"></div>
            <form class="form-horizontal" id="formBoletin">
                <input type="hidden" id="inputId" name="inputId" {% if record %} value="{{ record.id }}" {% endif %}>
                <div class="form-group">
                    <label for="inputTipo" class="col-sm-2 control-label">{% trans %}Tipo{% endtrans %}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputTipo" name="inputTipo" style="width: 100%" onchange="boletin.changeFechaEnvio(this)">
                            {% for id,tipo in config.tipo_boletin %}
                                <option value="{{ id }}" {% if record and record.tipo == id %} selected {% endif %}>{{ tipo }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group hide" id="containerFechaEnvio">
                    <label for="inputFechaEnvio" class="col-sm-2 control-label">{% trans %}Fecha de Envio{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control datepicker" id="inputFechaEnvio" name="inputFechaEnvio" {% if record %} value="{{ record.fecha_envio }}" {% endif %} readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSubject" class="col-sm-2 control-label">{% trans %}Asunto{% endtrans %}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="{% trans %}Asunto{% endtrans %}" {% if record %} value="{{ record.subject }}" {% endif %}>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFrom" class="col-sm-2 control-label">{% trans %}Origen{% endtrans %}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputFrom" name="inputFrom" style="width: 100%">
                            {% for id,from in config.from_boletin %}
                                <option value="{{ id }}" {% if record and record.from == id %} selected {% endif %}>{{ from }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputContenido" class="col-sm-2 control-label">{% trans %}Contenido{% endtrans %}</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputContenido" name="inputContenido">{% if record %} {{ record.contenido }} {% endif %}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEstado" class="col-sm-2 control-label">{% trans %}Estado{% endtrans %}</label>
                    <div class="col-sm-10">
                        <select class="form-control select2" id="inputEstado" name="inputEstado" style="width: 100%">
                            {% for id,estado in config.estado_user %}
                                <option value="{{ id }}" {% if record and record.estado == id %} selected {% endif %}>{{ estado }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-danger" id="buttonBoletinCancel">{% trans %}Cancelar{% endtrans %}</button>
                        <button type="button" class="btn btn-primary" id="buttonBoletin">{% trans %}Guardar{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}